<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head-css(title=#{app.title})}"></head>

<body>
<aside th:replace="~{fragments/sidebar :: sidebar}"></aside>

<main class="main-content">

    <header th:replace="~{fragments/topbar :: topbar}"></header>

    <div id="views-container" class="p-4 md:p-8">
        
        <div th:replace="~{views/dashboard :: dashboard-view}"></div>

        <div th:replace="~{views/pupilajes :: pupilajes-view}"></div>

        <div th:replace="~{views/clases :: clases-view}"></div>

        <div th:replace="~{views/pistas :: pistas-view}"></div>

        <div th:replace="~{views/alumnos :: alumnos-view}"></div>

        <div th:replace="~{views/profesores :: profesores-view}"></div>

        <div th:replace="~{views/pagos :: pagos-view}"></div>

    </div>
</main>

<div th:replace="~{fragments/modals :: app-modals}"></div>

<div th:replace="~{fragments/scripts :: app-scripts}"></div>

</body>
</html>